// Small devices (phones, 576px and up)
@media (max-width: 576px) { }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

.Header {
  height: 50px;
  background-color: #F5CD4A;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.App-link {
  color: #ffffff;
  font-weight: 400;
}